<easysite version="3.0" type="Module">
  <folders>
    <folder>
      <name>SEEKPET.Module</name>
      <friendlyname>mo_首页</friendlyname>
      <foldername>SEEKPET.Module</foldername>
      <description>mo_首页</description>
      <version>01.00.00</version>
      <businesscontrollerclass>SEEKPET.Module.dll</businesscontrollerclass>
      <modules>
        <module>
          <friendlyname>mo_首页</friendlyname>
          <controls>
            <control>
              <src>SeeHome.ascx</src>
              <type>View</type>
            </control>
          </controls>
        </module>
      </modules>
      <files>
        <file>
          <name>SEEKPET.Module.dll</name>
        </file>
      </files>
    </folder>
  </folders>
</easysite>