<configuration>
    <configSections>
        <section name="servers" requirePermission="false" type="EasySite.Modules.C_Info.ServersConfigSectionHandler, EasySite.Modules.C_Info" />
    </configSections>
    <system.web>
        <httpModules>
            <clear/>
        </httpModules>
        <webServices>
            <protocols>
                <add name="HttpPost" />
                <add name="HttpGet" />
            </protocols>
        </webServices>
    </system.web>
    <system.webServer>
        <modules>
            <clear/>
        </modules>
		<httpProtocol>
            <customHeaders>
                <remove name="Cache-Control" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
    <!-- name须为Web服务器的计算机名称 -->
    <servers skipAuth="false">
<!-- 		<add name="huilan-flow" friendlyName="主服务器" address="http://192.168.0.1" editorUserName="" editorPassword="" beDraft="true" />
        <add name="server2" friendlyName="备用服务器" address="http://192.168.0.30/EasySite" editorUserName="host" editorPassword="esshost" beDraft="true" />   
 -->   </servers>
    <location path="C_InfoService.asmx">
        <system.webServer>
            <security>
                <!--<ipSecurity>
                    <add ipAddress="10.0.0.1" allowed="true" />
                    <add ipAddress="*" />
                </ipSecurity>-->
            </security>
        </system.webServer>
    </location>
</configuration>