<easysite version="3.0" type="Module">
  <folders>
    <folder>
      <name>HTML</name>
      <friendlyname>Text/HTML</friendlyname>
      <foldername>HTML</foldername>
      <modulename>HTML</modulename>
      <description>
      </description>
      <version>03.01.00</version>
      <businesscontrollerclass>EasySite.Modules.Html.HtmlTextController</businesscontrollerclass>
      <modules>
        <module>
          <friendlyname>Text/HTML</friendlyname>
          <cachetime>1200</cachetime>
          <controls>
            <control>
              <src>DesktopModules/HTML/HtmlModule.ascx</src>
              <type>View</type>
            </control>
            <control>
              <key>Edit</key>
              <title>Edit Text/HTML</title>
              <src>DesktopModules/HTML/EditHtml.ascx</src>
              <type>Edit</type>
            </control>
            <control>
              <key>Mobile</key>
              <title></title>
              <src>DesktopModules/HTML/HtmlModule.ascx</src>
              <type>View</type>
            </control>
          </controls>
        </module>
      </modules>
      <files>
        <file>
          <path>App_LocalResources</path>
          <name>EditHtml.ascx.resx</name>
        </file>
        <file>
          <path>App_LocalResources</path>
          <name>EditHtml.ascx.zh-CN.resx</name>
        </file>
        <file>
          <path>App_LocalResources</path>
          <name>HtmlModule.ascx.resx</name>
        </file>
        <file>
          <path>App_LocalResources</path>
          <name>HtmlModule.ascx.zh-CN.resx</name>
        </file>
        <file>
          <name>03.00.00.SqlDataProvider</name>
        </file>
        <file>
          <name>03.01.00.SqlDataProvider</name>
        </file>
        <file>
          <name>Uninstall.SqlDataProvider</name>
        </file>
        <file>
          <name>EditHtml.ascx</name>
        </file>
        <file>
          <name>HtmlModule.ascx</name>
        </file>
        <file>
          <name>EasySite.Modules.HTML.dll</name>
        </file>
      </files>
    </folder>
  </folders>
</easysite>