<?xml version="1.0" encoding="utf-8" ?>
<easysite version="3.0" type="Module">
    <folders>
        <folder>
            <name>C_Info</name>
            <friendlyname>C_Info</friendlyname>
            <foldername>C_Info</foldername>
            <modulename>C_Info</modulename>
            <description>内容采编发模块提供十分强大的信息的采集、编辑、审批、发布、评论、专题、统计、搜索、分类、RSS聚合等，实现大型信息门户的信息管理的能力。管理难度系数：★★</description>
            <version>04.08.00</version>
            <businesscontrollerclass>EasySite.Modules.C_Info.BusinessControllerClass,EasySite.Modules.C_Info</businesscontrollerclass>
            <resourcefile>C_InfoResource.zip</resourcefile>
            <modules>
                <module>
                    <friendlyname>内容管理</friendlyname>
                    <cachetime>1200</cachetime>
                    <controls>
                        <control>
                            <src>DesktopModules/C_Info/ListC_Info.ascx</src>
                            <type>View</type>
                        </control>
                        <control>
                            <key>Edit</key>
                            <src>DesktopModules/C_Info/EditC_Info.ascx</src>
                            <type>Edit</type>
                        </control>
                        <control>
                            <key>Admin</key>
                            <src>DesktopModules/C_Info/AdminC_Info.ascx</src>
                            <type>Edit</type>
                        </control>
                        <control>
                            <key>Category</key>
                            <src>DesktopModules/C_Info/EditC_InfoCategory.ascx</src>
                            <type>Edit</type>
                        </control>
                        <control>
                            <key>EditPage</key>
                            <src>DesktopModules/C_Info/PagerEditC_Info.ascx</src>
                            <type>Edit</type>
                        </control>
                        <control>
                            <key>ExtField</key>
                            <src>DesktopModules/C_Info/EditC_InfoExtendField.ascx</src>
                            <type>Edit</type>
                        </control>
                        <control>
                            <key>InfoDetail</key>
                            <src>DesktopModules/C_Info/InfoDetail.ascx</src>
                            <type>View</type>
                        </control>
                        <control>
                            <key>KeyWord</key>
                            <src>DesktopModules/C_Info/EditC_InfoKeyWords.ascx</src>
                            <type>Edit</type>
                        </control>
                        <control>
                            <key>ModuleOptions</key>
                            <src>DesktopModules/C_Info/EditModuleOptions.ascx</src>
                            <type>Edit</type>
                        </control>
                        <control>
                            <key>More</key>
                            <src>DesktopModules/C_Info/ListC_Info.ascx</src>
                            <type>View</type>
                        </control>
                        <control>
                            <key>Pager</key>
                            <src>DesktopModules/C_Info/PagerC_Info.ascx</src>
                            <type>Edit</type>
                        </control>
                        <control>
                            <key>Remark</key>
                            <src>DesktopModules/C_Info/EditC_InfoRemark.ascx</src>
                            <type>View</type>
                        </control>
                        <control>
                            <key>Spec</key>
                            <src>DesktopModules/C_Info/EditC_InfoSpec.ascx</src>
                            <type>Edit</type>
                        </control>
                        <control>
                            <key>ViewOptions</key>
                            <src>DesktopModules/C_Info/EdittC_InfoViewOptions.ascx</src>
                            <type>Edit</type>
                        </control>
                        <control>
                            <key>WorkFlowDefine</key>
                            <src>DesktopModules/C_Info/EditWorkFlow.ascx</src>
                            <type>Edit</type>
                        </control>
                        <control>
                            <key>WorkFlowList</key>
                            <src>DesktopModules/C_Info/ListWorkFlow.ascx</src>
                            <type>Edit</type>
                        </control>
                        <control>
                            <key>WorkFLowTrace</key>
                            <src>DesktopModules/C_Info/WorkFLowTrace.ascx</src>
                            <type>Edit</type>
                        </control>
                        <control>
                            <key>Search</key>
                            <src>DesktopModules/C_Info/ListC_Info.ascx</src>
                            <type>View</type>
                        </control>
                        <control>
                            <key>Stat</key>
                            <src>DesktopModules/C_Info/EditC_InfoStat.ascx</src>
                            <type>Edit</type>
                        </control>
                        <control>
                            <key>ImportAndExport</key>
                            <src>DesktopModules/C_Info/ImportAndExport.ascx</src>
                            <type>Edit</type>
                        </control>
                        <control>
                            <key>Notification</key>
                            <src>DesktopModules/C_Info/Notification.ascx</src>
                            <type>Edit</type>
                        </control>
                        <control>
                            <key>SelPortalResource</key>
                            <src>DesktopModules/C_Info/SelPortalResource.ascx</src>
                            <type>Edit</type>
                        </control>
                        <control>
                            <key>Mobile</key>
                            <src>DesktopModules/C_Info/MobileDefault.ascx</src>
                            <type>View</type>
                        </control>
                        <control>
                            <key>MobileEdit</key>
                            <src>DesktopModules/C_Info/MobileEdit.ascx</src>
                            <type>Edit</type>
                        </control>
                    </controls>
                </module>
            </modules>
            <files>
                <file>
                    <name>SkinObjectMore.ascx</name>
                </file>
                <file>
                    <name>SkinObjectRSS.ascx</name>
                </file>
                <file>
                    <name>SkinObjectNav.ascx</name>
                </file>
                <file>
                    <name>Rss.aspx</name>
                </file>
                <file>
                    <name>ListC_InfoKeyWords.aspx</name>
                </file>
                <file>
                    <name>C_InfoCopyMove.aspx</name>
                </file>
                <file>
                    <name>UploadC_InfoImage.ascx</name>
                </file>
                <file>
                    <name>UploadC_InfoFile.ascx</name>
                </file>
                <file>
                    <name>ShowRemark.ascx</name>
                </file>
                <file>
                    <name>Showrelative.ascx</name>
                </file>
                <file>
                    <name>ShowPicture.ascx</name>
                </file>
                <file>
                    <name>ShowPager.ascx</name>
                </file>
                <file>
                    <name>ShowNavigatorInfo.ascx</name>
                </file>
                <file>
                    <name>ShowField.ascx</name>
                </file>
                <file>
                    <name>ShowExtField.ascx</name>
                </file>
                <file>
                    <name>ShowDateTime.ascx</name>
                </file>
                <file>
                    <name>ShowKeyWords.ascx</name>
                </file>
                <file>
                    <name>SelWorkFlow.ascx</name>
                </file>
                <file>
                    <name>PagerC_Info.ascx</name>
                </file>
                <file>
                    <name>ListWorkFlow.ascx</name>
                </file>
                <file>
                    <name>ListC_InfoRss.ascx</name>
                </file>
                <file>
                    <name>ListC_InfoAudit.ascx</name>
                </file>
                <file>
                    <name>EditWorkFlow.ascx</name>
                </file>
                <file>
                    <name>EditC_InfoStat.ascx</name>
                </file>
                <file>
                    <name>AuditC_Info.ascx</name>
                </file>
                <file>
                    <name>ListC_Info.ascx</name>
                </file>
                <file>
                    <name>EditC_Info.ascx</name>
                </file>
                <file>
                    <name>AdminC_Info.ascx</name>
                </file>
                <file>
                    <name>EditC_InfoCategory.ascx</name>
                </file>
                <file>
                    <name>PagerEditC_Info.ascx</name>
                </file>
                <file>
                    <name>EditC_InfoExtendField.ascx</name>
                </file>
                <file>
                    <name>InfoDetail.ascx</name>
                </file>
                <file>
                    <name>EditC_InfoKeyWords.ascx</name>
                </file>
                <file>
                    <name>EditModuleOptions.ascx</name>
                </file>
                <file>
                    <name>ListC_Info.ascx</name>
                </file>
                <file>
                    <name>EditC_InfoRemark.ascx</name>
                </file>
                <file>
                    <name>EditC_InfoSpec.ascx</name>
                </file>
                <file>
                    <name>EdittC_InfoViewOptions.ascx</name>
                </file>
                <file>
                    <name>SelUser.aspx</name>
                </file>
                <file>
                    <name>WorkFLowTrace.ascx</name>
                </file>
                <file>
                    <name>Search.ascx</name>
                </file>
                <file>
                    <name>EditC_InfoStat.ascx</name>
                </file>
                <file>
                    <name>AdminC_InfoNavigator.ascx</name>
                </file>
                <file>
                    <name>SearchConfiguration.config</name>
                </file>
                <file>
                    <name>TreeModules.ascx</name>
                </file>
                <file>
                    <name>TreeServerModules.ascx</name>
                </file>
                <file>
                    <name>ShowSourceTabBreadCrumb.ascx</name>
                </file>
                <file>
                    <name>Notification.ascx</name>
                </file>
                <file>
                    <name>SelPortalResource.ascx</name>
                </file>
                <file>
                    <name>SelCategory.ascx</name>
                </file>
                <file>
                    <name>SkinObjectCXMLReq.ascx</name>
                </file>
                <file>
                    <name>MobileDefault.ascx</name>
                </file>
                <file>
                    <name>MobileEdit.ascx</name>
                </file>
                <file>
                    <name>web.config</name>
                </file>
                <file>
                    <name>03.00.00.SqlDataProvider</name>
                </file>
                <file>
                    <name>03.00.10.SqlDataProvider</name>
                </file>
                <file>
                    <name>03.00.20.SqlDataProvider</name>
                </file>
                <file>
                    <name>03.00.30.SqlDataProvider</name>
                </file>
                <file>
                    <name>03.00.40.SqlDataProvider</name>
                </file>
                <file>
                    <name>03.00.50.SqlDataProvider</name>
                </file>
                <file>
                    <name>04.03.00.SqlDataProvider</name>
                </file>
                <file>
                    <name>04.04.00.SqlDataProvider</name>
                </file>
                <file>
                    <name>04.04.01.SqlDataProvider</name>
                </file>
                <file>
                    <name>04.05.00.SqlDataProvider</name>
                </file>
                <file>
                    <name>04.06.00.SqlDataProvider</name>
                </file>
                <file>
                    <name>04.07.00.SqlDataProvider</name>
                </file>
                <file>
                    <name>04.08.00.SqlDataProvider</name>
                </file>
                <file>
                    <name>Install.04.05.00.SqlDataProvider</name>
                </file>
                <file>
                    <name>Uninstall.SqlDataProvider</name>
                </file>
                <file>
                    <name>ImportAndExport.ascx</name>
                </file>
                <file>
                    <name>EasySite.Modules.C_Info.dll</name>
                </file>
                <file>
                    <name>CMSAspNetPager.dll</name>
                </file>
            </files>
        </folder>
    </folders>
</easysite>
