<?xml version="1.0" encoding="utf-8" ?>
<!--
搜索配置:
Token 一个搜索标记
	Name 标记名称 可以是英文 但是必须保证在次文档中唯一
	Type 搜索控件的类型 现在支持文本框(TextBox)/下拉列表(DropDownList)/日期控件(Calendar)/单选钮(RadioButtonList)/提示框(TextSuggest)
	SQLString 搜索字符串 字段针对C_Info数据表 关联其他数据表的数据 必须使用T-SQL 函数 用户输入的数据使用Token的Name属性替换
ControlAttribute: 控件属性
	所有的属性针对客户端属性 无法编辑服务器端属性
Datas: 下拉列表的数据源
	如果数据源为固定数据 则配置<Data>节点 显示属性为Text 值属性为Value
	如果数据源为数据库动态数据 则需要配置Datas以下属性
		DataTextField 下拉列表控件的文本显示字段
		DataValueField 值字段
		SQLString  获得数据源的SQL语句
		DefaultText 默认选择的文本 不填写次属性 则没有默认文本
		DefaultValue 默认选择文本的值
扩展字段的搜索:
	扩展字段的搜索和标签没有关系 只需要修改SQLString的属性 
	例如   "AND dbo.C_InfoChecExtValue(InfoID,3,'TEST')=1"  只需要将函数中的TEST 改为设置的标签名称  3 改为扩展的ID标识 

可以在SQL中用{TOKEN}的方式引用其它TOKEN的值

默认值可以使用以下系统变量：
Now()/Now.AddDays(7)/Now.AddWeeks(-1,true)/Now.AddMonths(-1,true)/Now.AddYears(-1,true),true表示是否从第一天开始
[CURRENTDATE][CURRENTUSERID][CURRENTUSERNAME][CURRENTPORTALID][CURRENTTABID][CURRENTTABNAME][CURRENTMODULEID]
-->
<Configuration>
  <Token Name="KEYWORDS" Type="TextBox" SQLString=" And (Title like '%KEYWORDS%' Or Description like '%KEYWORDS%'  Or KeyWords like '%KEYWORDS%') ">
    <ControlAttribute Size="15" Class="SearchTextBox"></ControlAttribute>
  </Token>
  <Token Name="SELECTKEYWORDS" Type="TextBox" SQLString=" And ({FIELDS} like '%SELECTKEYWORDS%') ">
    <ControlAttribute Size="15" Class="SearchTextBox"></ControlAttribute>
  </Token>
  <Token Name="SUPERKEYWORDS" Type="TextBox" SQLString=" {LOGIC} ({FIELDS} like '{WILDCARD}SUPERKEYWORDS{WILDCARD}') ">
    <ControlAttribute Size="15" Class="SearchTextBox"></ControlAttribute>
  </Token>
  <Token Name="FIELDS" Type="DropDownList" SQLString="">
    <ControlAttribute Class=""></ControlAttribute>
    <Datas> 
      <Data Text="标题" Value="Title"></Data>
      <Data Text="内容" Value="Content"></Data>
    </Datas>
  </Token>
  <Token Name="ENGLISHFIELDS" Type="DropDownList" SQLString="">
    <ControlAttribute Class=""></ControlAttribute>
    <Datas> 
      <Data Text="Title" Value="Title"></Data>
      <Data Text="Summary" Value="Description"></Data>
      <Data Text="Content" Value="Content"></Data>
    </Datas>
  </Token>
  <Token Name="LOGIC" Type="RadioButtonList" SQLString="">
    <ControlAttribute Class=""></ControlAttribute>
    <Datas DefaultValue="And"> 
      <Data Text="满足全部条件" Value="And"></Data>
      <Data Text="满足任意条件" Value="Or"></Data>
    </Datas>
  </Token>
  <Token Name="WILDCARD" Type="RadioButtonList" SQLString="">
    <ControlAttribute Class=""></ControlAttribute>
    <Datas DefaultValue="%"> 
      <Data Text="模糊匹配" Value="%"></Data>
      <Data Text="精确匹配" Value=""></Data>
    </Datas>
  </Token>
  <!--我的文章-->
  <Token Name="MYARTICLES" Type="DropDownList" SQLString=" AND CreatedByUser=[CURRENTUSERID] And ApproveStatus is not null"> 
  <ControlAttribute style="display:none"></ControlAttribute>
    <Datas>
      <Data Text="占位值" Value="HolderValue"></Data>
    </Datas>
  </Token>
  <!--我的审批-->
  <Token Name="MYAPPROVE" Type="DropDownList" SQLString=" AND InfoId in(SELECT wfTrace.ItemID
FROM wfTrace INNER JOIN
          (SELECT MAX(wfTraceID) AS wfMAXID
         FROM wfTrace
         GROUP BY ItemID) t ON wfTrace.wfTraceID = t.wfMAXID INNER JOIN
      wfActive ON wfTrace.ActiveID = wfActive.ActiveID INNER JOIN
      C_info ON wfTrace.ItemID = C_info.InfoID
WHERE ((wfActive.ActionUser = [CURRENTUSERID] And ActionType=0) Or (Exists(Select RoleId from UserRoles where UserId=[CURRENTUSERID] and RoleId=wfActive.ActionUser  And ActionType=1))) AND (C_info.ApproveStatus = 0)">
	<ControlAttribute style="display:none"></ControlAttribute>
    <Datas>
      <Data Text="未审批" Value="0"></Data>
    </Datas>
  </Token>
  <Token Name="标题" Type="TextBox" SQLString=" And Title like '%标题%'">
    <ControlAttribute size="15" Class=""></ControlAttribute>
  </Token>
  <Token Name="文章作者" Type="TextBox" SQLString=" And Author like '%文章作者%' ">
    <ControlAttribute size="15" Class=""></ControlAttribute>
  </Token>
  <Token Name="开始时间" Type="Calendar" SQLString=" And CreateDate&gt;='开始时间'">
    <ControlAttribute Size="6" Class=""></ControlAttribute>
  </Token>
  <Token Name="结束时间" Type="Calendar" SQLString=" And CreateDate&lt;dateadd(day,1,'结束时间')">
    <ControlAttribute Size="6" Class=""></ControlAttribute>
  </Token>
  <!--开始时间默认为本月1号-->
  <Token Name="STARTDATE" Type="Calendar" SQLString=" And CreateDate&gt;='STARTDATE'">
    <ControlAttribute Size="6" Class=""></ControlAttribute>      
     <Datas DefaultValue="Now().AddMonths(0,true)"></Datas>
  </Token>
  <!--结束时间默认为当天-->
  <Token Name="ENDDATE" Type="Calendar" SQLString=" And CreateDate&lt;dateadd(day,1,'ENDDATE')">
    <ControlAttribute Size="6" Class=""></ControlAttribute>
     <Datas DefaultValue="Now()"></Datas>
  </Token>
  <Token Name="添加用户" Type="DropDownList" SQLString=" And CreatedByUser='添加用户'">
    <ControlAttribute Width="80" Class=""></ControlAttribute>
    <Datas DataTextField="UserName" DataValueField="UserID" SQLString=" Select UserID,UserName From Users"
			DefaultText="--请选择--" DefaultValue=""></Datas>
  </Token> 
  <Token Name="报表种类" Type="DropDownList" SQLString=" AND (dbo.C_InfoChecExtValue(InfoID,55,'报表种类')=1 or dbo.C_InfoChecExtValue(InfoID,56,'报表种类')=1 or dbo.C_InfoChecExtValue(InfoID,57,'报表种类')=1 or dbo.C_InfoChecExtValue(InfoID,58,'报表种类')=1)">
    <ControlAttribute style="width:150px;" Class=""></ControlAttribute>
    <Datas>
      <Data Text="----请选择报表种类----" Value=""></Data>
      <Data Text="保险业经营情况表" Value="保险业经营情况表"></Data>
      <Data Text="财产保险公司保费收入情况表" Value="财产保险公司保费收入情况表"></Data>
      <Data Text="人身保险公司保费收入情况表" Value="人身保险公司保费收入情况表"></Data>
      <Data Text="全国各地区保费收入情况表" Value="全国各地区保费收入情况表"></Data>
    </Datas>
  </Token>
  <Token Name="年份" Type="DropDownList" SQLString=" AND Year(CreateDate)=年份">
    <ControlAttribute style="width:110px;" Class=""></ControlAttribute>
    <Datas>
      <Data Text="--请选择年份--" Value=""></Data>
      <Data Text="2010年" Value="2010"></Data>
      <Data Text="2009年" Value="2009"></Data>
      <Data Text="2008年" Value="2008"></Data>
      <Data Text="2007年" Value="2007"></Data>
      <Data Text="2006年" Value="2006"></Data>
      <Data Text="2005年" Value="2005"></Data>
      <Data Text="2004年" Value="2004"></Data>
      <Data Text="2003年" Value="2003"></Data>
      <Data Text="2002年" Value="2002"></Data>
      <Data Text="2001年" Value="2001"></Data>
      <Data Text="2000年" Value="2000"></Data>      
    </Datas>
  </Token>
  <Token Name="月份" Type="DropDownList" SQLString=" AND Month(CreateDate)='月份'">
    <ControlAttribute style="width:110px;" Class=""></ControlAttribute>
    <Datas>
      <Data Text="--请选择月份--" Value=""></Data>
      <Data Text="1月" Value="1"></Data>
      <Data Text="2月" Value="2"></Data>
      <Data Text="3月" Value="3"></Data>
      <Data Text="4月" Value="4"></Data>
      <Data Text="5月" Value="5"></Data>
      <Data Text="6月" Value="6"></Data>
      <Data Text="7月" Value="7"></Data>
      <Data Text="8月" Value="8"></Data>
      <Data Text="9月" Value="9"></Data>
      <Data Text="10月" Value="10"></Data>
      <Data Text="11月" Value="11"></Data>
      <Data Text="12月" Value="12"></Data>
    </Datas>
  </Token>
  <Token Name="结束年" Type="DropDownList" SQLString=" And CreateDate&lt;='结束年-12-31'">
    <ControlAttribute Width="50" Class=""></ControlAttribute>
    <Datas>
      <Data Text="--请选择--" Value=""></Data>
      <Data Text="2010年" Value="2010"></Data>
      <Data Text="2009年" Value="2009"></Data>
      <Data Text="2008年" Value="2008"></Data>
      <Data Text="2007年" Value="2007"></Data>
      <Data Text="2006年" Value="2006"></Data>
      <Data Text="2005年" Value="2005"></Data>
      <Data Text="2004年" Value="2004"></Data>
      <Data Text="2003年" Value="2003"></Data>
      <Data Text="2002年" Value="2002"></Data>
      <Data Text="2001年" Value="2001"></Data>
      <Data Text="2000年" Value="2000"></Data>      
    </Datas>
  </Token>
  <!--按频道名称搜索-->
  <Token Name="PDMC" Type="DropDownList" SQLString=" and C_Info.ModuleID in (
select ModuleID from TabModules where TabID in(
select TabID from Tabs where tabname = 'PDMC'))">
    <ControlAttribute Width="50" Class=""></ControlAttribute>
    <Datas> 
      <Data Text="-请选择频道-" Value=""></Data>
      <Data Text="投保及核保" Value="投保及核保"></Data>
      <Data Text="保单服务" Value="保单服务"></Data>
    </Datas>
  </Token>
 <!--按父频道名称搜索-->
  <Token Name="FPDMC" Type="DropDownList" SQLString=" and C_Info.ModuleID in (
select ModuleID from TabModules where TabID in(
select TabID from Tabs where ParentId in (
select TabID from Tabs where tabname = 'FPDMC')
))">
    <ControlAttribute Width="50" Class=""></ControlAttribute>
    <Datas> 
      <Data Text="-请选择频道-" Value=""></Data>
      <Data Text="投保及核保" Value="投保及核保"></Data>
      <Data Text="保单服务" Value="保单服务"></Data>
    </Datas>
  </Token>
   <!--搜索本频道-->
  <Token Name="SEARCHPD" Type="DropDownList" SQLString=" and C_Info.ModuleID in (
select ModuleID from TabModules where TabID =[CURRENTTABID])">
   <ControlAttribute style="display:none"></ControlAttribute>
    <Datas>
      <Data Text="holder" Value="HolderValue"></Data>
    </Datas>
  </Token>
  <!--搜索本频道及所有子频道，注意本频道的名称要站点唯一-->
  <Token Name="SEARCHPDSUB" Type="DropDownList" SQLString=" and C_Info.ModuleID in (
select ModuleID from TabModules where TabID in (select TabID from Tabs where TabPath like '%//[CURRENTTABNAME]' or TabPath like '%//[CURRENTTABNAME]//%'))">
   <ControlAttribute style="display:none"></ControlAttribute>
    <Datas>
      <Data Text="holder" Value="HolderValue"></Data>
    </Datas>
  </Token>
  <!--按栏目名称搜索-文本框-->
  <Token Name="TLMMC" Type="TextBox" SQLString=" AND C_Info.ModuleID in (
select ModuleID from Modules where ModuleTitle ='TLMMC')">
     <ControlAttribute Size="15" Class=""></ControlAttribute>
  </Token>
  <!--按栏目名称搜索-下拉框-->
  <Token Name="LMMC" Type="DropDownList" SQLString=" AND C_Info.ModuleID in (
select ModuleID from Modules where ModuleTitle ='LMMC')">
     <ControlAttribute Width="50" Class=""></ControlAttribute>
    <Datas> 
      <Data Text="-请选择栏目-" Value=""></Data>
      <Data Text="投保及核保" Value="投保及核保"></Data>
      <Data Text="保单服务" Value="保单服务"></Data>
    </Datas>
  </Token>
</Configuration>