<configuration>
    <connectionStrings>
		<add name="C_InfoWSServer" connectionString="Server=(local);Database=HuilanCInfo;uid=sa;pwd=123456;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <system.web>
        <httpHandlers>
            <add path="thumbnail.ashx" verb="GET" type="EasySite.Modules.C_Info.ThumbnailHandler,EasySite.Modules.C_Info"/>
            <add path="tag.ashx" verb="GET" type="EasySite.Modules.C_Info.TagHandler,EasySite.Modules.C_Info"/>
        </httpHandlers>
    </system.web>
    <system.webServer>
         <handlers>
            <add name="cinfothumbnail" path="c_info/thumbnail.ashx" verb="GET" type="EasySite.Modules.C_Info.ThumbnailHandler,EasySite.Modules.C_Info" preCondition="integratedMode"/>
            <add name="cinfotag" path="tag.ashx" verb="GET" type="EasySite.Modules.C_Info.TagHandler,EasySite.Modules.C_Info" preCondition="integratedMode"/>
        </handlers>      
    </system.webServer>
</configuration>