<?xml version="1.0" encoding="utf-8" ?>
<easysite version="3.0" type="Module">
  <folders>
    <folder>
      <name>MobileAdmin</name>
      <friendlyname>MobileAdmin</friendlyname>
      <foldername>MobileAdmin</foldername>
      <modulename>MobileAdmin</modulename>
      <description>Mobile Admin</description>
      <version>01.00.00</version>
      <businesscontrollerclass>
      </businesscontrollerclass>
      <resourcefile>Resources.zip</resourcefile>
      <modules>
        <module>
          <friendlyname>MobileAdmin</friendlyname>
          <cachetime>0</cachetime>
          <controls>
            <control>
              <src>DesktopModules/MobileAdmin/Main.ascx</src>
              <type>View</type>
            </control>
          </controls>
        </module>
      </modules>
      <files>
        <file>
          <name>EasySite.Modules.MobileAdmin.dll</name>
        </file>
        <file>
          <name>Main.ascx</name>
        </file>
        <file>
          <name>01.00.00.SqlDataProvider</name>
        </file>
        <file>
          <name>Uninstall.SqlDataProvider</name>
        </file>
      </files>
    </folder>
  </folders>
</easysite>
